@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px rgb(168, 0, 0) solid; */
}

body {
    font-family: 'Poppins', sans-serif !important;
}

header {
    position: fixed;
    left: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

.categoryButton:hover {
    background-color: rgb(253, 218, 175) !important;
}

.bg-yellow-custom {
    background-color: rgba(255, 225, 33, 0.8);
}

.cards-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 80%;

}

.cards-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #6161615e;
    border-radius: 15px;
    box-shadow: 0px 0px 12px #61616198;
    width: 17rem;
    height: 34.5rem;
}

.card-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 7rem;
}

.card-descripcion h2,
.card-descripcion p {
    margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-descripcion h2 {
    font-size: 17pt;
}

.card-descripcion p {
    font-size: 12pt;
    width: calc(100% - 20px);
    line-height: 18px;
}

.cards-item img {
    border-radius: 15px;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
    margin: 10px;
    width: 15rem;
    height: 21rem;
    object-fit: cover;
    z-index: -1;
}

.boton-container {
    justify-content: space-between;
    align-self: center;
    width: 220px;
    margin-top: 10px;
}

.boton-agregar,
.boton-agregar-desactivado {
    background-color: rgb(255, 235, 168);
    align-self: center;
    border: 0px;
    border-radius: 7px;
    font-size: 20pt;
    font-weight: bold;
    box-shadow: 0px 0px 6px #000000d2;
    transition: transform 0.2s ease-in-out;
    width: 80px;
    height: 2.5rem;
    margin: 0 5px;
}

.boton-agregar:hover,
.boton-quitar:hover {
    background-color: rgb(206, 180, 94);
    transform: scale(1.08);
    transition: transform 0.2s ease-in-out;
}

.boton-agregar:active {
    background-color: rgb(255, 237, 176);
}

.boton-quitar, .boton-quitar-desactivado {
    background-color: rgb(243, 138, 89);
    align-self: center;
    border: 0px;
    border-radius: 7px;
    font-size: 20pt;
    font-weight: bold;
    box-shadow: 0px 0px 6px #000000d2;
    transition: transform 0.2s ease-in-out;
    width: 80px;
    height: 2.5rem;
    margin: 0 5px;
}

.boton-quitar:hover {
    background-color: rgb(247, 167, 167);
}

.boton-agregar-desactivado:hover {
    background-color: none !important;
    transform: none;
    transition: none;
}

.boton-precio {
    justify-content: space-evenly;
    align-self: center;
    font-weight: bold;
    width: 8rem;
    height: 2rem;
}

.boton-precio p {
    font-size: 17pt;
    text-align: end;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 0;
    padding-right: 8px;
}

.boton-confirmar-compra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(206, 180, 94);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(206, 180, 94);
    width: 17rem;
    height: 10vh;
}

.boton-carrito:hover {
    background-color: rgba(206, 180, 94, 0.137);
}

.boton-carrito:active {
    opacity: 60%;
}

.boton-carrito img {
    scale: 1.3;
    margin: 10px;
}

.boton-carrito div {
    font-size: 16pt;
    font-weight: bold;
    width: 50%;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.boton-carrito div:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.claseToastify {
    font-size: 14pt;
    /* Cambia este valor al tamaño que desees */
    font-weight: bold;
    /* Opcional: puedes hacer el texto más grueso */
    border-radius: 10px !important;
    /* Redondea las esquinas */
    /* box-shadow: 0px 0px 4px #000000; */
    filter: drop-shadow(0px 0px 7px rgba(114, 114, 114, 0.788));
}


footer {
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    width: 100%;
}